<h1> 最新消息 <h1>
<ul>
<% @new.each do |b| %>
  <li>
      <p>
 	   <%= b.title %>
       <%= b.date %>
       <%= link_to 'Show', secret_path(b) %>
       <%= link_to 'Edit', edit_secret_path(b) %>
       <%= link_to 'Delete', secret_path(b) ,:method => :delete %>
      </p>
  </li>
<% end %>
</ul>

<h1> 網頁改版 <h1>
<ul>
<% @update.each do |b| %>
  <li>
      <p>
 	   <%= b.title %>
       <%= b.date %>
       <%= link_to 'Show', secret_path(b) %>
       <%= link_to 'Edit', edit_secret_path(b) %>
       <%= link_to 'Delete', secret_path(b) ,:method => :delete %>
      </p>
  </li>
<% end %>
</ul>

 <%= link_to '新增最新消息', new_secret_path(:new => 1) %>
 <%= link_to '新增網頁改版', new_secret_path(:new => 0) %>
